/* ======= RESET ======= */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #dc3545 !important;
    padding: 10px 20px;
    z-index: 2000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #f8f9fa;
}

.nav_logo {
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-nav .nav-item {
    margin-left: 15px;
    font-size: 16px;
}

.navbar-nav .nav-link {
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav .nav-link i {
    color: white;
}

.navbar-nav .nav-link:hover i {
    color: #f8f9fa;
}
